.container {
    background: white;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    max-width: 900px;
    width: 100%;
    padding: 30px 40px;
    margin-left: 13.5%;
    margin-top: 3%;
}

h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 12%;
    font-size: 50px;
}

p {
    text-align: center;
    color: #ffffff7c;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #916f13;
    color: white;
}

tr:nth-child(even) {
    background-color:  #fff4cc

;
}

tr:hover {
    background-color: #8f701b4f;
}

