.errores-container {
    background: white;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    max-width: 600px;
    width: 100%;
    padding: 30px 40px;
    margin-left: 25%;
}

.errores-container h2 {
    text-align: center;
    color: #dc2626;
    margin-bottom: 20px;
}

.errores-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.errores-list li {
    background-color: #fee2e2;
    margin-bottom: 12px;
    padding: 12px 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 16px;
    transition: background-color 0.3s;
}

.errores-list li:hover {
    background-color: #fecaca;
}

.errores-list li::before {
    content: "❌";
    margin-right: 10px;
    font-size: 18px;
}

h2{
    text-align: center;
    color: #fff;
    font-size: 50px;
    margin-top: 10%;
}