.main-uni{
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
    gap: none;
    flex-wrap: wrap;
}

.filter{
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #f8f8f8;
    padding: 3%;
    border-radius: 15px;
    color: #000000;
    width: 25%;
    height: 25%;
}

#area-conocimiento, #modal-study, #type-uni{
    padding: 10px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    background: linear-gradient(90deg, #a6a6a6, #ffffff);
    font-family: "Archivo Black", sans-serif;
    cursor: pointer;
}

#btn-buscaru{
    background-color: #082147;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    font-family: "Archivo Black", sans-serif;
}

#btn-buscaru:hover{
    transform: scale(1.05);
}

.map{
    border: solid #fff 2.5px;
    border-radius: 10px;
}

@media (max-width: 768px){
    .filter{
        width: 230px;
        margin-top: 100px;
        margin-bottom: 15px;
    }

    #area-conocimiento, #modal-study, #type-uni{
        font-size: 14px;
    }

    .map{
        max-width: 300px;
        max-height: 300px;
        margin-bottom: 10px;
    }
}